.jtp {            
    width: calc(150% - 75%);   
    height: calc(350px - 75px);   
    background-color: lightblue;   
    padding-top: 50px;   
}   
.jtp1 {   
    font-size: 30px;   
    font-weight: bold;   
    color: blue;   
}   
h1 {   
    color: blue;   
}   
h2{  
color: green;  
}  