body{  
    text-align: center;  
    }  
    .jtp {   
    font-size: 75px;  
    -webkit-text-stroke-width: 2px;  
    -webkit-text-stroke-color: red;  
    -webkit-text-fill-color: yellow;  
    text-shadow: 5px 5px 6px gray;  
}  